<html>
	<head>
		<title>index</title>
	</head>
	<body>
		<center>
		<table  width="75%" bgcolor="#8A0829">
			<tr >
				<th height="150"><font color="white" size="7"><b>SARKARI RESULT</b></font>
					<font color="white" size="4"><p>WWW.SARKARIRESULT.COM</p></font></th>
			</tr>
		</table>
			<table  width="75%">
			<tr bgcolor="black" >
				<th height="40">
					<a href="#" target="blank"><font color="white" size="4" > Home</font></a>
				</th>
					<th height="40">
						<a href="#"><font color="white" size="4">Syllabus </font></a>
						</th>
						<th height="40">
							<a href="#" target="blank"><font color="white" size="4">Answer Key</font></a>
							</th>
							<th height="40">
								<a href="#"><font color="white" size="4">Latest Jobs </font></a>
								</th>
								<th height="40">
									<a href="#" target="blank"><font color="white" size="4">Admit Card</font></a>
									</th>
									<th height="40">
										<a href="#"><font color="white" size="4">Results </font></a>
										</th>
										<th height="40">
											<a href="#" target="blank"><font color="white" size="4">Moblie Apps</font></a>
											</th>
											<th height="40">
												<a href="contact.page.html" ><font color="white" size="4">More</font></a>
												</th>
												<th width="5%"></th>
			</tr>
		</table>
		<table width="75%"><tr><td><b>You are here ></b> <a href="#"> Home</font></a><b> > Contact Us</b></td>
</tr>
</table><br><br><br>
<table width="75%">
<tr>
	<th><a href="#"><font size="6">Click Here to Visit SarkariResult.com Home Page</font></a></th>
</tr>
</table>
<table width="50%" border="1">
	<tr >
		<td bgcolor="#8A0829" align="center" colspan="2"><font color="white" size="6">Contact Us Page</font></td>
	</tr>
	<tr>
		<td align="center" colspan="2"><font color="#FF0040" size="5"><b>WELCOME TO SARKARIRESULT.COM</b></font><br><br>
			<font color="green" size="5"><b>No. 1 Education Website</b></font><br><br>
			<font color="#FF0040" size="5"><b>Contact us & Mobile Apps Download</b></font></td>
	</tr>
		<tr>
	<td align="center" colspan="2"><font color="green" size="5"><b>Welcome to Sarkari Result Contact Us Page</b></font><br></td>
			
	</tr>
	<tr>
		<td align="center" colspan="2"><font color="#FF0040" size="5" ><b>Android Apps Details</b></font><br><br>
		<ul>
			<li>Sarkari Result Android Apps Will be Working on Samsung, Vivo, Oppo and All Other Top Company Android Mobile Phone and Tablets</li></ul>
			<ul><li><b>For Download SarkariResult Androids Apps</b><a href="#">Click here</a></li>
		</ul>	
		</td>
	</tr>
<tr>
		<td align="center" colspan="2"><font color="#FF0040" size="5" ><b>Apple IOS Apps</b></font><br><br>
		<ul>
			<li>Sarkari Result Android Apps Will be Working on Samsung, Vivo, Oppo and All Other Top Company Android Mobile Phone and Tablets</li></ul>
			<ul><li><b>For Download SarkariResult Androids Apps</b><a href="#">Click here</a></li>
		</ul>	
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2"><font color="#FF0040" size="5" ><b>Window Apps</b></font><br><br>
		<ul>
			<li>Sarkari Result Android Apps Will be Working on Samsung, Vivo, Oppo and All Other Top Company Android Mobile Phone and Tablets</li></ul>
			<ul><li><b>For Download SarkariResult Androids Apps</b><a href="#">Click here</a></li>
		</ul>	
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2"><font color="#FF0040" size="5" ><b>Benefit of Sarkari Result Apps</b></font><br><br>
		<ul>
			<li>Sarkari Result Android Apps Will be Working on Samsung, Vivo, Oppo and All Other Top Company Android Mobile Phone and Tablets</li></ul>
			<ul><li><b>For Download SarkariResult Androids Apps</b><a href="#">Click here</a></li>
		</ul>	
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2"><font color="#FF0040" size="5" ><b>Contact us</b></font><br><br>
		<ul>
			<li><b>if Any Feedback or Problem Kindly Mail us on sarkariresult@gmail.com Or Use Facebook Personal Message Option or Tweet to @Sarkari_Result</b></li>
		</ul>	
		</td>
	</tr>
	<tr>
	<td align="center" colspan="2"><font color="green" size="6"><b>Stay Connected With Sarkari Result</b></font><br></td>
			
	</tr>
	<tr>
		<td align="center" width="50%"><font color="#FF0040" size="5" ><b>For Instant Reply Kindly Contact us Twitter</b></font></td>
		<td align="center"><a href="#"><font size="5"><b>Click here</b></font></a></td>
	</tr>
	</tr>
	<tr>
		<td align="center" width="50%"><font color="#FF0040" size="4" ><b>Visit Main Website</b></font></td>
		<td align="center"><a href="#"><font size="5"><b>Click here</b></font></a></td>
	</tr>
	</tr>
	<tr>
		<td align="center" width="50%"><font color="#FF0040" size="5" ><b>Download Android Apps in Google Play</b></font></td>
		<td align="center"><img src="11.png" height="60" width="220"></td>
	</tr>
	</tr>
	
	<tr>
		<td align="center" width="50%"><font color="#FF0040" size="5" ><b>Download Apple IOS Apps in I Tunes Store</b></font></td>
		<td align="center"><img src="22.png" height="60" width="220"></td>
	</tr>
	</tr>
	<tr>
		<td align="center" width="50%"><font color="#FF0040" size="5" ><b>Download Window Apps in Window Store</b></font></td>
		<td align="center"><img src="33.png" height="60" width="220"></td>
	</tr>
	<tr>
		<td align="center" width="50%"><font color="#FF0040" size="5" ><b>Join Us on Facebook Like Us to Get All Updates</b></font></td>
		<td align="center"><img src="44.gif" height="60" width="220"></td>
	</tr>
	<tr>
		<td align="center" width="50%"><font color="#FF0040" size="5" ><b>Follow us on Twitter to Get All Updates</b></font></td>
		<td align="center"><img src="55.png" height="60" width="220"></td>
	</tr>
</table>

	</center>
</body>
</html>